parameters:
    autoload_directories:
        - src/Migrations
    paths:
    	- src
    excludes_analyse:
        - tests
        - src\EventSubscriber\AdminEventSubscriber.php
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'