{% extends 'base.html.twig' %}

{% block title %}{{ 'titre'|trans }}{% endblock %}

{% block body %}

<div class="container">
    {{  form_start(form) }}
    <div class="form-row align-items-end">
        <div class="col">
            {{ form_widget(form.filterGroup) }}
        </div>
    </div>
    {{  form_end(form) }}
</div>

{% endblock %}

{% block javascripts %}

<script language="JavaScript">
    $(document).ready(function() {
        $('#group_search_filterGroup').change(function(){
            this.form.submit();
        });
    });
</script>

{% endblock %}
