{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}

<div class="container">
    {{  form_start(form) }}
    <div class="form-row align-items-end">
        <div class="col">
            {{ form_row(form.filterGroup) }}
        </div>
        <div class="col">
            <div class="form-group">
                <button class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </div>
    {{  form_end(form) }}
</div>

{% endblock %}
