{% extends 'base.html.twig' %}

{% block title %}Ajout groupe{% endblock %}

{% block body %}

    <div>
        {{ form_start(form) }}

        <div class="p-4">
            {{ form_row(form.nom) }}
        </div>
        <div class="row pl-4">
            <button class="btn btn-primary">{{ button|default('groupe.valid'|trans) }}</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
